{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td style="font-weight: bold;">{{ "$%.2f"|format(sum + cash) }}</td>
            </tr>
        </tfoot>
        <tbody>
            
                
                    {% for dicts in datas %}
                    <tr>
                        {% for values in dicts %}
                            <td>{{ dicts[values] }}</td>
                        {% endfor %}
                        <td> {{ "$%.2f"|format (dicts['SUM (shares)'] * dicts['price']) }}</td>
                    </tr>
                    {% endfor %}
                
            
            <tr>
                <td colspan="3">CASH</td>
                <td>{{ "$%.2f"|format(cash) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
